$navff : "lato-regular",Helvetica,Arial,sans-serif;
$hff : 'P22 Corinthia',Helvetica,Arial,sans-serif;

body 
{
  //  margin-right: -100px;
  font-family: $navff;
}

.main-container {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-color: grey;
}

.second{
    background: #bfd9f2;
    padding: 0px;    

    #second_container {

        #inputSearch{
            height: 100%;
            margin: 0px;
            padding : 40px 80px;
            font-size: 20px;
            letter-spacing: 2px;
            background-color: transparent;
            color : white;
            border-style: solid;
            border : none;
            text-transform: uppercase;
        }

        #inputSearch::-webkit-input-placeholder{
            color :#95bae4;
            
        }
    }
}

footer{
    background: #95badf;
    padding:30px 20px;
    .list-group-item {
        border : 0px;
        color : white;
        background: #95badf;
    }

    .social .list-group-item img{
        width : 100px;
        height: 20px;    
    }

    hr{
        border :1px solid #82abd4;
    }

    .trademark{
        color :white;
        margin :10px 35%; 
    }
}


.third {
    padding-top :40px;
    padding-bottom :40px;
    background: white;

    .more_button{
     
        text-align: center;
        padding: 20px 50px;
        border-radius: 35px;
        border :2px solid #bfd9f1;
        color : #bfd9f1
    }

    .box{
         border: 1px solid #f2f1f1;
         margin: 10px;
         .price {
             position: absolute;
             margin: 10px;
             padding:12px 25px;
             border-radius: 3px;
             border: 0px;
             font-weight: bold;
             font-family: $navff;
         }
         .close {
             position: absolute;
             right : 10px;
             top : 10px;
         }

         .edit
         {
             position: absolute;
             right : 10px;
             bottom : 10px;
         }

    


         .image img{
                width :100%;
                height:100%;
         }

         .image{
                padding :0px;
         }
         .desc {
             height:100px;
             max-height: 100px;
             min-height: 100px;
            h4{
                max-height: 38px;
                word-wrap: break-word; 
                overflow : hidden;
            }

             h6{

                 position: absolute;
                 padding : 10px;
                 bottom:0px;
             }
         }
     }
}

.first{
    height: 96vh;
    .container
    {
        padding: 15%;
        text-align: center;
        color: white;
        h1 {
            
            font-family: $hff;
            font-size: 15vh;
    
        }
    
        h5 {
            font-family: $navff;  
            margin: -5% 0% 0% 0%;
            font-weight:bold;
  

        }
    }
}

.navclass {
    padding : 2vh 0vh 2vh 0vh;
    font-size: 16px;
    font-family: $navff;
    background: rgba(0,0,0,0.1);

    .container{
        padding-top: 5px; 
    }

    .navbar-nav {
        > li > a {
            color : white;
        }
    }
    #login_button{
        margin-top: -13px;
        padding : 10px 35px;
        border-radius: 0;
        border: 2px solid white;
        background: transparent;
    }

    li{
        
        letter-spacing: 1px;
        margin : 5px 11px;

        
    }
    
    .navbar-brand {
    //    padding-top: 0px;
        color:#9d9d9d;
    }
}
